In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('obbinsandtrades_BTC-USD_2020-03-26-23.49.57.83_2020-04-08-21.49.47.83_17196840.csv')
df

,time,best_ask,best_bid,last_buy_price,last_buy_amt,last_sell_price,last_sell_amt,a0,a1,a2,...,b90,b91,b92,b93,b94,b95,b96,b97,b98,b99
0,1585266597,6750.92,6748.04,6750.00,0.000006,6752.40,0.004770,6.383364,1.487042,7.997782,...,0.003176,2.430000,0.000000,0.000000,2.664000,0.924243,13.609199,0.006484,18.500000,0.000000
1,1585266607,6749.51,6747.00,6745.51,0.006459,6750.32,0.005308,0.002629,0.515601,0.503189,...,2.430000,0.000000,0.000000,2.664000,0.924243,13.609199,0.006484,18.500000,0.000000,0.000000
2,1585266617,6748.55,6746.32,6749.09,0.300000,6749.07,0.008967,17.083271,2.912589,0.741189,...,2.355000,0.000000,0.000000,3.568243,0.078010,13.556673,0.001000,18.500000,0.000000,0.000000
3,1585266627,6748.47,6748.46,6748.46,0.239064,6748.47,0.116225,0.008405,0.989471,0.000000,...,0.273176,0.075000,2.355000,0.000000,0.000000,3.568243,0.078010,13.556673,0.001000,18.500000
4,1585266637,6750.00,6749.99,6748.46,0.239064,6750.00,0.021671,3.113139,0.000000,8.730782,...,0.222206,0.273176,0.000000,2.430000,0.000000,0.000000,2.664000,0.982253,13.555673,0.002000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106555,1586382547,7329.33,7326.99,7326.99,0.042849,7329.34,0.020662,9.049441,2.278166,1.806804,...,2.026119,1.125447,8.128859,0.070000,0.480000,3.856994,14.791523,6.096973,0.000000,0.000000
106556,1586382557,7329.88,7327.47,7326.99,0.042849,7329.88,0.026744,12.599152,1.820338,1.701350,...,0.995119,1.031000,7.489447,1.764859,0.070000,4.336994,0.001523,20.886973,0.000000,0.000000
106557,1586382567,7329.77,7327.95,7326.99,0.042849,7329.77,0.468184,12.381674,1.499879,2.611650,...,1.002119,1.031000,1.125447,8.128859,0.070000,0.480000,3.856994,18.251323,2.637173,0.000000
106558,1586382577,7330.00,7329.99,7326.99,0.042849,7330.00,0.137069,7.773859,0.906523,0.000000,...,9.402373,0.007000,0.995119,1.031000,1.125447,8.128859,0.070000,0.580500,3.756494,18.271323
106559,1586382587,7330.00,7329.99,7329.99,0.006933,7330.00,0.013169,7.617870,0.901715,8.000000,...,9.402373,0.007000,0.995119,1.031000,1.125447,8.128859,0.070000,0.580500,3.756494,18.271323

In [3]:
df1 = pd.read_csv('obfull_BTC-USD_2020-03-26-23.49.57.83_2020-03-30-14.49.47.83_17196840.csv')

In [7]:
df1

                time   ask_amt  ask_price   bid_amt  bid_price
0         1585266597  0.001000    6948.68  1.250000    6748.04
1         1585266597  0.400000    6948.30  0.419511    6748.03
2         1585266597  0.052000    6948.00  0.300000    6748.02
3         1585266597  0.015950    6947.00  0.002959    6747.99
4         1585266597  0.200000    6946.00  2.000000    6747.93
...              ...       ...        ...       ...        ...
15659995  1585579787  0.200000    6342.44  0.100000    5882.00
15659996  1585579787  0.281705    6342.43  3.872741    5880.00
15659997  1585579787  0.023824    6341.00  0.250000    5878.00
15659998  1585579787  0.162123    6340.15  0.063911    5877.53
15659999  1585579787  0.011902    6340.14  0.001000    5876.99

[15660000 rows x 5 columns]

In [6]:
df1.loc[df1['time'] == 1585266597,['ask_price','bid_price']]

     ask_price  bid_price
0      6948.68    6748.04
1      6948.30    6748.03
2      6948.00    6748.02
3      6947.00    6747.99
4      6946.00    6747.93
..         ...        ...
495    6751.74    6426.00
496    6751.73    6425.88
497    6751.55    6425.00
498    6750.98    6423.89
499    6750.92    6423.21

[500 rows x 2 columns]